body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga', 'kern';
  letter-spacing: -0.011em;
}

code, pre, .mono, .font-mono {
  font-family: 'SF Mono', 'Monaco', 'Menlo', 'Courier New', monospace;
  font-feature-settings: 'liga', 'kern';
}

